<h3> All Products </h3>
<p><a href="/products/new"> New Product?</p>

<div class="container">
  <% @products.each do |product| %>
  <div>
    <div>
      <a href="/products/#{product.id}">
      <%= product.name %>
      <p>View Product</p>
      </a>
    </div>
    <div>
      <img src="<%= product.images.first.image %>" class="img-responsive" alt="<%= product.name %>">
      <%= product.price %>
      <%= product.description %>
    </div>
  </div>
  <% end %>
</div>