  
<section>
  <% if current_user %>
    <div class="jumbotron">
      <h6> Hi! <%= current_user.name %>!</h6>
      <p>Wanna buy some products?</p>
      <p><a href="/products" role="button">
      <span class="glyphicon glyphicon-asterisk"> 
        </span><br>All Products</a></p>
      <p><a href="/products" role="button"> 
      <span class="glyphicon glyphicon-asterisk"> 
        </span>
        <br>My Products</a></p>
    </div>
  <% else %> 
    <div class="jumbotron">
        <h6> We've Got Products!</h6>
      <p>Wanna buy some products?</p>
      <p><a href="/signup" role="button">
        <span class="glyphicon glyphicon-asterisk"> 
        </span>
        Sign-up!</a></p>
      <p><a href="/login" role="button"><span class="glyphicon glyphicon-asterisk"> 
        </span>
        Log in!</a></p>
    </div>
  <% end %>
</section>

<section>
<h3> All Products </h3>
<p><a href="/products/new"> New Product?</a></p>
<p> You've visited this page <%= @page_count %> times!</p>
<div class="row">
  <div class="container">
    <a href="/signup"> Sign up!</a>
  </div>
</div>
<div class="container">
  <% @products.each do |product| %>
  <div>
    <div>
      <%= product.name %>
      <%= link_to "View Product", "/products/#{product.id}", method: :get %>
      </a>
    </div>
    <div>
      <img src="<%= product.images.first.image %>" class="img-responsive" alt="<%= product.name %>">
      <%= product.price %>
      <%= product.description %>
    </div>
  </div>
  <% end %>
</div>
</section>