<div class="jumbotron">
  <h1>These Are Products!</h1>
  <p>Everyone loves buying products!</p>
  <p><a class="btn btn-primary btn-lg" href="/signup" role="button">Sign-up!</a></p>
  <p><a class="btn btn-primary btn-lg" href="/login" role="button">Log in!</a></p>
</div>




<h3> All Products </h3>
<p><a href="/products/new"> New Product?</a></p>
<p> You've visited this page <%= @page_count %> times!
<div class="row">
  <div class="container">
    <a href="/signup"> Sign up!</a>
  </div>
</div>
<div class="container">
  <% @products.each do |product| %>
  <div>
    <div>
      <%= product.name %>
      <%= link_to "View Product", "/products/#{product.id}", method: :get %>
      </a>
    </div>
    <div>
      <img src="<%= product.images.first.image %>" class="img-responsive" alt="<%= product.name %>">
      <%= product.price %>
      <%= product.description %>
    </div>
  </div>
  <% end %>
</div>