<h3> All Products </h3>
<p><a href="/products/new"> New Product?</a></p>
<p> You've visited this page <%= @page_count %> times!
<div class="container">
  <% @products.each do |product| %>
  <div>
    <div>
      <%= product.name %>
      <%= link_to "View Product", "/products/#{product.id}", method: :get %>
      </a>
    </div>
    <div>
      <img src="<%= product.images.first.image %>" class="img-responsive" alt="<%= product.name %>">
      <%= product.price %>
      <%= product.description %>
    </div>
  </div>
  <% end %>
</div>